In [1]:
%run peforth.ipynb

reDef unknown
reDef \

<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="figures/PDSH-cover-small.png">
*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*

*The text is released under the [CC-BY-NC-ND license](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode), and code is released under the [MIT license](https://opensource.org/licenses/MIT). If you find this content useful, please consider supporting the work by [buying the book](http://shop.oreilly.com/product/0636920034919.do)!*

<!--NAVIGATION-->
< [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb) | [Contents](Index.ipynb) | [Handling Missing Data](03.04-Missing-Values.ipynb) >

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs that we introduced in [Computation on NumPy Arrays: Universal Functions](02.03-Computation-on-arrays-ufuncs.ipynb) are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc. 兩元運算，餵兩個 data-frame 給它，會自動依 index 對齊

This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof ones with Pandas.
We will additionally see that there are well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [2]:
import pandas as pd
import numpy as np

In [6]:
rng = np.random.RandomState(42) # 42 是 seed, 取得產生器 rng.
ser = pd.Series(rng.randint(0, 10, 4))  # ser 就是個 Series, 0-10 之間取 4 個亂數
ser

0    6
1    3
2    7
3    4
dtype: int32

In [11]:
%f \ 複習一下指定 columns 與 index 
df = pd.DataFrame(rng.randint(0, 10, (3, 4)), columns=['A', 'B', 'C', 'D'], index=['A', 'B', 'C'])
df

複習一下指定 columns 與 index

   A  B  C  D
A  3  1  7  3
B  1  5  5  9
C  3  5  1  9

In [12]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  1  9  3  7
1  6  8  7  4
2  1  4  7  9

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [17]:
ser
np.exp(ser)
%f _ type . cr \ 結果還是個 pd.Series

0    6
1    3
2    7
3    4
dtype: int32

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

<class 'pandas.core.series.Series'>
結果還是個 pd.Series

Or, for a slightly more complex calculation:

In [20]:
df
np.sin(df * np.pi / 4)
%f _ type . cr \ 結果仍然是個 DataFrame, 用法就是把 pd.df 當成一個變數來用就對了。

   A  B  C  D
0  1  9  3  7
1  6  8  7  4
2  1  4  7  9

          A             B         C             D
0  0.707107  7.071068e-01  0.707107 -7.071068e-01
1 -1.000000 -2.449294e-16 -0.707107  1.224647e-16
2  0.707107  1.224647e-16 -0.707107  7.071068e-01

<class 'pandas.core.frame.DataFrame'>
結果仍然是個 DataFrame, 用法就是把 pd.df 當成一個變數來用就對了。

Any of the ufuncs discussed in [Computation on NumPy Arrays: Universal Functions](02.03-Computation-on-arrays-ufuncs.ipynb) can be used in a similar manner.

## UFuncs: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [21]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

Let's see what happens when we divide these to compute the population density:

In [22]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [26]:
area.index | population.index
%f _ type tib. \ 結果還是 pd.Index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

_ type tib. \ ==> <class 'pandas.core.indexes.base.Index'> (<class 'type'>)
結果還是 pd.Index

In [27]:
%f \ 我都還不知道 set 運算可以這樣做
s1 = {1,2,4}
s2 = {1,3,5}
%f s1 s2 OR tib. \ peforth 的 OR 就是 python 的 bitwise | 運算
%f \ 如果這樣 list(s1) | list(s2) 就是 TypeError: unsupported operand types
s1 | s2

我都還不知道 set 運算可以這樣做
s1 s2 OR tib. \ ==> {1, 2, 3, 4, 5} (<class 'set'>)
peforth 的 OR 就是 python 的 bitwise | 運算
如過這樣 list(s1) | list(s2) 就是 TypeError: unsupported operand types

{1, 2, 3, 4, 5}

Any item for which one or the other does not have an entry is marked with ``NaN``, or "Not a Number," which is how Pandas marks missing data (see further discussion of missing data in [Handling Missing Data](03.04-Missing-Values.ipynb)).
This index matching is implemented this way for any of Python's built-in arithmetic expressions; any missing values are filled in with NaN by default:

In [25]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [26]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

### Index alignment in DataFrame

A similar type of alignment takes place for *both* columns and indices when performing operations on ``DataFrame``s:

In [28]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
A

    A   B
0  12   8
1  14  12

In [29]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B

   B  A  C
0  0  8  6
1  8  7  0
2  7  7  2

In [30]:
A + B

      A     B   C
0  20.0   8.0 NaN
1  21.0  20.0 NaN
2   NaN   NaN NaN

Notice that indices are aligned correctly irrespective of their order in the two objects, and indices in the result are sorted.
As was the case with ``Series``, we can use the associated object's arithmetic method and pass any desired ``fill_value`` to be used in place of missing entries.
Here we'll fill with the mean of all values in ``A`` (computed by first stacking the rows of ``A``):

In [34]:
%f A type tib.
A.stack()
%f _ type tib. \ .stack() 把原來的 data-frame 疊成 Series
A.stack().mean()

A type tib. \ ==> <class 'pandas.core.frame.DataFrame'> (<class 'type'>)

0  A    12
   B     8
1  A    14
   B    12
dtype: int32

_ type tib. \ ==> <class 'pandas.core.series.Series'> (<class 'type'>)
.stack() 把原來的 data-frame 疊成 Series

11.5

In [30]:
fill = A.stack().mean()
A.add(B, fill_value=fill)

      A     B     C
0   1.0  15.0  13.5
1  13.0   6.0   4.5
2   6.5  13.5  10.5

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between a two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

In [35]:
A = rng.randint(10, size=(3, 4))
A

array([[0, 7, 2, 2],
       [0, 4, 9, 6],
       [9, 8, 6, 8]])

In [37]:
A - A[0] 
%f \ 2D - 1D 這是 broadcasting

array([[ 0,  0,  0,  0],
       [ 0, -3,  7,  4],
       [ 9,  1,  4,  6]])

2D - 1D 這是 broadcasting

According to NumPy's broadcasting rules (see [Computation on Arrays: Broadcasting](02.05-Computation-on-arrays-broadcasting.ipynb)), subtraction between a two-dimensional array and one of its rows is applied row-wise.

In Pandas, the convention similarly operates row-wise by default:

In [41]:
df = pd.DataFrame(A, columns=list('QRST'))
%f df . cr \ 原來的 data-frame
%f cr df df :> iloc[0] - . cr \ 相減

   Q  R  S  T
0  0  7  2  2
1  0  4  9  6
2  9  8  6  8
原來的 data-frame

   Q  R  S  T
0  0  0  0  0
1  0 -3  7  4
2  9  1  4  6
相減

If you would instead like to operate column-wise, you can use the object methods mentioned earlier, while specifying the ``axis`` keyword:

In [43]:
%f df . cr cr
%f df :> ['R'] . cr
df.subtract(df['R'], axis=0)

   Q  R  S  T
0  0  7  2  2
1  0  4  9  6
2  9  8  6  8

0    7
1    4
2    8
Name: R, dtype: int32

   Q  R  S  T
0 -7  0 -5 -5
1 -4  0  5  2
2  1  0 -2  0

Note that these ``DataFrame``/``Series`` operations, like the operations discussed above, will automatically align  indices between the two elements:

In [42]:
halfrow = df.iloc[0, ::2]  # 第一個 : 前後是空的，表示【所有的 columns】, 第二個 : 之後的 2 表示 'every other one' 
                           # 結果就是 row 0, column 0 2 4 . . . etc
halfrow

Q    0
S    2
Name: 0, dtype: int32

In [49]:
%f df . cr \ 以上是 df, halfrow 就在上一 cell 
df - halfrow
%f \ 只針對 Q S 兩欄做 broadcasting, 所以 R T 欄都變成 NaN

   Q  R  S  T
0  0  7  2  2
1  0  4  9  6
2  9  8  6  8
以上是 df, halfrow 就在上一 cell

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1  0.0 NaN  7.0 NaN
2  9.0 NaN  4.0 NaN

只針對 Q S 兩欄做 broadcasting, 所以 R T 欄都變成 NaN

This preservation and alignment of indices and columns means that operations on data in Pandas will always maintain the data context, which prevents the types of silly errors that might come up when working with heterogeneous and/or misaligned data in raw NumPy arrays.

<!--NAVIGATION-->
< [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb) | [Contents](Index.ipynb) | [Handling Missing Data](03.04-Missing-Values.ipynb) >