In [ ]:
import numpy as np

In [7]:
import peforth
peforth.dictate(r'''
\ Now we redefine the 'unknown' command that was do-nothing by default
: unknown ( token -- thing Y|N) // Try to find the unknown token in __main__
  py> getattr(sys.modules['__main__'],pop(),"Ûnknôwn") 
  py> str(tos())=="Ûnknôwn" if drop false else true then ;
  /// here after, when FORTH come accross an unknown token, instead of alerting 
  /// it try to find the token in python __main__ module name space.

\ Redefine \ command to print the comment line
code \ print(nexttoken('\n')) end-code 
''');

reDef unknown
reDef \

In [ ]:
?slice

In [ ]:
%load

In [ ]:
cols = "abc"
ind = range(3)
data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
data

In [ ]:
{c:11 for c in cols}

In [ ]:
%f <py> {c for c in "abc"} </pyV> tib.
%f <py> [c for c in "abc"] </pyV> tib.
%f <py> (c for c in "abc") </pyV> tib.
%f <py> (c for c in "abc") </pyV> py> list(pop()) tib.

In [ ]:
x = [12,34]
%f x . cr
[x]

In [ ]:
x = np.array([12,34])
x
[x[:,np.newaxis], [91,92]]
x[:,np.newaxis][:,np.newaxis]
x[:,np.newaxis][:,np.newaxis][:,np.newaxis]
%f \ --------------------------
[x]

In [ ]:
x = [12,34]
x
x[:,np.newaxis]
x[:,np.newaxis][:,np.newaxis]
x[:,np.newaxis][:,np.newaxis][:,np.newaxis]

In [ ]:
# 憑印象 try mask 
%f \ 普通 array 沒有這種能力，這叫 numpy 的啥能力.... 稱作 ufunc (Universal Functions)
a = [c for c in "abcdef"] 
a
try:
    a > 'd'
except TypeError as e:
    print(e)

In [ ]:
# 憑印象 try numpy array 才有的 mask 
a = np.array([c for c in "abcdef"])
a < 'd'
a[a < 'd']

In [ ]:
%load?

### WKS 主管餐廳菜單
<img src="http://localhost:8888/notebooks/Downloads/%E4%B8%BB%E7%AE%A1%E9%A4%90%E5%BB%B3%E8%8F%9C%E5%96%AE.jpg" width=80%>

In [ ]:
%run peforth.ipynb

In [ ]:
data = {c: [str(c) + str(i) for i in range(3)]
            for c in "ABC"}
data
%f data type tib.

In [22]:
%pdb off

Automatic pdb calling has been turned OFF

# 用來漂亮顯示多個 DataFrames 的 class 設計 

這個 utility 有很多特點，非常值得學習。

1. 直接使用 class, 而不先產生 instance 然後才拿該 instance 來用。活脫的地方是，利用 class 有很多約定既有的 method 之特性，把呼叫 calss 時的 arguments 用適當的 HTML 或 plain text 顯示出來，漂亮！
2. `_repr_html_(self)` method 是用 HTML 格式漂漂亮亮地顯示 DataFrame 這是 pandas 本來就有提供給 df 的 built-in method.
3. 我沒用過的 class 輸入啟始 arguments 的方式。

In [21]:
import peforth
import pandas as pd
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        peforth.ok('11>',loc=locals(),cmd=":> [0] constant locals // ( -- locals ) in the __init__ method")
        self.args = args
        peforth.ok('1122>',loc=locals(),cmd=":> [0] constant locals // ( -- locals ) in the __init__ method")
        
    def _repr_html_(self):
        peforth.ok('22>',loc=locals(),cmd=":> [0] constant locals // ( -- locals ) in the _repr_html_ method")
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        peforth.ok('33>',loc=locals(),cmd=":> [0] constant locals // ( -- locals ) in the __repr__ method")
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)
    

def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)  # ind 即 index, 可用 range, list, tuple, or set <-- 自動排序 

# example DataFrame
make_df('ABC', range(3))

Automatic pdb calling has been turned OFF

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [3]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
display('df1', 'df2', 'pd.concat([df1, df2])')  # default axis=0 or 'rows'

11>
11>
11>
11>words
code end-code \ // <selftest> </selftest> bye /// unknown immediate stop compyle trim indent -indent <py> </py> </pyV> words . cr help interpret-only compile-only literal reveal privacy (create) : ; ( BL CR word ' , [compile] py: py> py:~ py>~ 0branch here! here swap ! @ ? >r r> r@ drop dup over 0< + * - / 1+ 2+ 1- 2- compile if then compiling char last version execute cls private nonprivate (space) exit ret rescan-word-hash (') branch bool and or not (forget) AND OR NOT XOR true false "" [] {} none >> << 0= 0> 0<> 0<= 0>= = == > < != >= <= abs max min doVar doNext depth pick roll space [ ] colon-word create (marker) marker next abort alias <> public nip rot -rot 2drop 2dup invert negate within ['] allot for begin until again ahead never repeat aft else while ?stop ?dup variable +! chars spaces .( ." .' s" s' s` does> count accept <accept> nop </accept>  case of endof endcase refill [else] [if] [then] (::) (:>) :: :> ::~ :>~ "msg"abort abort" "msg"?abort ?abort" '<text> (<text>) <text> </text> <comment> </comment> (constant) constant value to tib. >t t@ t> [begin] [again] [until] [for] [next] __main__ import module modules int float drops dropall char>ASCII ASCII>char CRLF ASCII .s (*debug*) *debug* readTextFile writeTextFile tib.insert dictate sinclude include break-include type obj>keys obj2dict stringify toString .literal .function (dump) dump dump2ret d (see) see slice screen-buffer display-off display-on WshShell inport harry_port OK _dir_ dir keys (pyclude) pyclude .members .source dos cd --- locals
11>locals keys . cr
dict_keys(['args', 'self'])
11>locals :> ['args'] . cr
('df1', 'df2', 'pd.concat([df1, df2])')
11>locals :> ['self'] type . cr
<class '__main__.display'>
11>locals :> ['self'] (see)
{
    "__class__": "display",
    "__module__": "__main__",
    "__doc__": "Display HTML representation of multiple objects"
}
11>locals :> ['self'] dir . cr
['template']
11>locals :> ['self']['template'] . cr

Failed in </py> (compiling=False): 'display' object is not subscriptable
Body:
push(pop()['self']['template'])
11>locals :> ['self'].template . cr
<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>
11>exit
11>reDef locals
1122>
1122>
1122>exit
1122>reDef locals
33>
33>
33>
33>exit
33>reDef locals
22>exit
22>

df1
    A   B
1  A1  B1
2  A2  B2

df2
    A   B
3  A3  B3
4  A4  B4

pd.concat([df1, df2])
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

我看懂了，這個 `<div>` 的 style 就是讓這些 DIV 橫向並著放，而非平常的往下長。這 DIV 裡面有一 P 就是 title 其下就是 data-frame 的表格。

    <o>
    <div style="float: left; padding: 10px;"><p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}</div>
    <div style="float: left; padding: 10px;"><p style='font-family:"Courier New", Courier, monospace'>{2}</p>{3}</div>
    <div style="float: left; padding: 10px;"><p style='font-family:"Courier New", Courier, monospace'>{4}</p>{5}</div>
    </o>

結果如下:

    {0} {2} {4}
        
    {1} {3} {5}

這只解釋了大體的結構，沒有解釋 DataFrame 怎麼印得這麼漂亮？原因是 DataFrame 本身就有個 `._repr_html_()` method，如下顯示：

In [8]:
%f df1 :> _repr_html_() . cr

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>A1</td>
      <td>B1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A2</td>
      <td>B2</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
%f df1 . cr \ 用 text mode 印出來用的是 __repr__ 
%f cr df1 :> __repr__ . cr \ 就像這樣
df1

    A   B
1  A1  B1
2  A2  B2
用 text mode 印出來用的是 __repr__

<bound method StringMixin.__repr__ of     A   B
1  A1  B1
2  A2  B2>
就像這樣

    A   B
1  A1  B1
2  A2  B2

### 下面這種寫法是我比較熟悉的

Initialize my_class 時的 arguments 是從 `__init__()` 送進去的。而且是用 variable name 送進去。相對於上面的寫法，初始 arguments 定義在 `my_class()` 處而非 `__init__()` 而且似乎只能接受 type 如 object, int, float 等, 到了 `__init__()` 處則用 `*args` 來取得實際給進來的 arguments.

In [49]:
class my_class:
    def __init__(self, x):
        self.args = x+1
        
    def _repr_html_(self):
        return "<h1> ~ " + str(self.args) + " ~ </h1>"
    
    def __repr__(self):
        return str(self.args)

my_class(3)
print(my_class(7))

4

8

### 重複一下這個新方法

In [50]:
class my_class(object):
    def __init__(self, *args):
        self.args = args[0]+1
        
    def _repr_html_(self):
        return "<h1> ~ " + str(self.args) + " ~ </h1>"
    
    def __repr__(self):
        return str(self.args)

my_class(3)
print(my_class(7))

4

8